<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Use url_for to link a stylesheet named `style.css` here. -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

        <!-- Use Jinja to put a title here. -->
        <title>{{ title }}</title>
    </head>

    <body>
        <section class="hero is-primary is-fullheight">

            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
    
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a href="{{ url_for('index') }}" class="navbar-item">
                                    Home
                                </a>
                                <a href="{{ url_for('about') }}" class="navbar-item">
                                    About
                                </a>    
                                <a href="{{ url_for('login') }}" class="navbar-item">
                                    Login
                                </a>
                                <a href="{{ url_for('dashboard') }}" class="navbar-item">
                                    Dashboard
                                </a>
                                <a href="{{ url_for('lon') }}" class="navbar-item">
                                    League of Nations
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            
            <div class="hero-body">
                <div class="container has-text-centered">
                    {% block content %}
                    <h1>Hello, World Wide Web!</h1>
                    <p>This is my first website.</p>
                    {% endblock %}
                </div>
            </div>
        </section>
</html>
